<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header-container"></div>
    home page

    <script>
        fetch("/header.html")
            .then(response => response.text())
            .then(data => {
                document.getElementById("header-container").innerHTML = data;

                const script = document.createElement("script");
                script.src = "/js/theme.js";
                script.onload = () => console.log("theme.js loaded successfully!");
                document.body.appendChild(script);
            });
    </script>
</body>
</html>