.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
}

.container-login {
    display: flex;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1.1);
    transform-origin: center;
}

@media (max-width: 768px) {
    .container-login {
        flex-direction: column;
        transform: scale(1);
    }

    .left-side,
    .right-side {
        width: 100%;
    }

    .left-side {
        padding: 20px;
    }

    .right-side {
        padding: 20px;
    }
}

.left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-side img {
    width: 500px;
    max-width: 100%;
}

.right-side {
    flex: 1;
    padding: 40px;
    text-align: left;
}

.welcome-text {
    text-align: center;
    margin-bottom: 30px;
}

.welcome-text h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 20px;
    color: #666;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin: 10px 0;
    padding-left: 25px;
    border: 1px solid #E0E0E0;
    border-radius: 48px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 15px;
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    border-radius: 48px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: var(--button-hover);
    color: var(--text-hover);
}

.bottom-text {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.bottom-text a {
    color: #FF9F43;
    text-decoration: none;
    font-weight: bold;
}

.bottom-text a:hover {
    text-decoration: underline;
}

.show-password-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.show-password-container label {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 16px;
}

.show-password-container input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 0px;
    border: 2px solid #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    position: relative;
}

.show-password-container input[type="checkbox"]:checked {
    background-color: #A3D9A5;
    border-color: #A3D9A5;
}

.show-password-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 2px;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.theme-toggle:hover {
    transform: scale(1.2);
}

body.dark-theme {
    background-color: var(--bg-color)
}

body.dark-theme .container-login {
    background-color: var(--bg-color);
}

body.dark-theme .theme-toggle {
    color: var(--text-color);
}

body.dark-theme h1,
body.dark-theme p,
body.dark-theme label,
body.dark-theme input::placeholder,
body.dark-theme .bottom-text {
    color: var(--text-color);
}

body.dark-theme .bottom-text a {
    color: #FFA500;
}

body.dark-theme .bottom-text a:hover {
    text-decoration: underline;
}

body.dark-theme input {
    background-color: #444;
    color: #fff;
    border: 1px solid #888;
}

body.dark-theme input:focus {
    border-color: #A3D9A5;
}

body.dark-theme .login-btn {
    background-color: #5AAB5A;
}

body.dark-theme .login-btn:hover {
    background-color: #4C964C;
}

body.dark-theme .welcome-text h1 {
    color: var(--text-color);
}

body.dark-theme .welcome-text p {
    color: var(--text-sec-color);

}

.anonymous-warning {
    background: rgba(255, 165, 0, 0.2);
    color: orange;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.anonymous-btn {
    width: 100%;
    padding: 12px;
    background: #FF8800;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 15px;
}

.anonymous-btn:hover {
    background: #E67E22;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
